*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   
    background-color: rgb(245, 196, 204) !important;
    
}
.logo{
    width: 25px;
    height: auto;
    margin-right: auto;
}

.Desi Recipies{
    width: 50px;
    height: 30px;
}

.SignIn{
    display: flex;
    align-items: flex-end;
     text-align: right;

}
.heart{

    max-width: 20px;
    height:20px;
}

.body{
    margin-top: 0px;
    width: 100px;
    height: 100px;
}
.container Image{
    width: 100px;
    max-height: 50px;

}

.text{
    width: 3-0px;
    height: 20px;

}
.card body{
background-color: rgb(253, 220, 220) !important;
}

