.fw-light{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.card-img-top{
   margin-top: 20px;
    width: 50%;
    /* height: 50%; */
    object-fit: cover;

    
}
.item-recipe{
    min-height: 330px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
